<h1 class="pb-3">About Us</h1>

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/">Home</a></li>
    </ol>
  </nav>


<div class="row flex-lg-row align-items-center g-5 py-3 mb-2">

    <div class="col-12 col-lg-5">
        <img src="/img/many.jpg" width="400" height="400" class="d-block mx-lg-auto img-fluid" loading="lazy" alt="Care Bear blog">
    </div>

    <div class="col-12 col-lg-6">
        <h1 class="display-7 fw-bold mb-3 text-justify">Sydney's Stuffies</h1>
        <p class="lead display-10 text-justify">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit quam placeat aliquam architecto molestias voluptates reprehenderit dolores dolorum ea. Amet, ipsum odio? Illo aliquid voluptas adipisci eveniet facere laborum dolores? Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
        </p>
        <p class="lead">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aliquid eum esse consectetur, ex voluptatum culpa fuga tenetur mollitia deleniti reprehenderit. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolor quis quam iure cumque. Sunt minima, eos veritatis animi saepe provident delectus deserunt ex distinctio obc.
        </p>
    </div>
</div>