<h1 class="pb-3">Contact Us</h1>

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/">Home</a></li>
    </ol>
</nav>


<div class="container-fluid py-2">

  <div class="container px-2 py-2" id="featured-3">
    
    <div class="row py-5 row-cols-1 row-cols-lg-3">
      
      <div class="feature col text-center pb-3 px-4">
        <h3>Phone</h3>
        <div class="feature-icon bg-danger bg-gradient">
          <svg class="bi" width="1em" height="1em"></svg>
        </div>
        <h5 class="pt-4">(123) 456-7890</h5>
      </div>

      
      <div class="feature col text-center pb-3 px-4">
        <h3>Mail</h3>
        <div class="feature-icon bg-warning bg-gradient">
          <svg class="bi" width="1em" height="1em"></svg>
        </div>
          <h5 class="pt-4">Sydney's Stuffies</h5>
          <h5>12345 Color Way</h5>
          <h5>City, ST 00000</h5>
      </div>

      <div class="feature col text-center pb-3 px-4">
        <h3>Email</h3>
        <div class="feature-icon bg-success bg-gradient">
          <svg class="bi" width="1em" height="1em"></svg>
        </div>
            <h5 class="pt-4">SydneysStuffies@email.com</h5>
      </div>
    </div>
  </div>
</div>