<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/">Home</a></li>
      <li class="breadcrumb-item active" aria-current="page">Random Stuffie</ol></li>
    </ol>
  </nav>

<h1 class="pb-4 text-center">Random Stuffie</h1>

<div class="row justify-content-center row-cols-2 row-cols-lg-5 g-2 g-lg-3">
  <% if(stuffie != '') { %>
   
    <a href="/stuffie/<%= stuffie._id %>" class="col random__link">
      <div class="random__img random--large shadow">
        <img src="/uploads/<%= stuffie.image %>" alt="<%= stuffie.name %>" loading="lazy">
      </div>
      <div class="pt-1"><%= stuffie.name %></div>
    </a>
  
  <% } else { %>
    <p>No items found.</p>
  <% } %> 
</div>
