
<div class="px-4 py-2 my-2 text-center">
    <h1 class="display-5 fw-bold">Share Your Stuffie!</h1>
    <div class="col-lg-6 mx-auto">
        <p class="lead">We love to see new stuffies. What's it's name? What color is it? Hobbies?</p>
    </div>
</div>

<div class="row justify-content-center">

    <% if(infoSubmitObj != '') { %>
        <div class="col-8 alert alert-success" role="alert">
        <%= infoSubmitObj %>
        </div>
    <% } %>

    <% if(infoErrorsObj != '') { %>
        <div class="col-8 alert alert-danger" role="alert">
        <%= infoErrorsObj[0].message %>
        </div>
    <% } %>

    <div class="col-8">

        <form class="row g-3 needs-validation"
            action="/submit-stuffie" enctype="multipart/form-data" method="POST">

            <div class="row g-3">

                <div class="col-12">
                    <label for="name" class="form-label text-success">Stuffie Name</label>
                    <input type="text" name="name" id="name" class="form-control" required>
                    <div class="valid-feedback">Great name!</div>
                </div>

                <div class="col-12">
                    <label for="color" class="form-label text-warning">Color</label>
                    <input type="text" name="color" id="color"  class="form-control" required>
                    <div class="valid-feedback">I love that color!</div>

                </div>

                <div class="col-12">
                    <label for="category" class="form-label text-danger">Select Category</label>
                    <select class="form-select form-control" name="category" aria-label="Category"  class="form-control" required>
                      <option selected>Category...</option>
                      <option value="Care Bear">Care Bear</option>
                      <option value="Toy">Toy</option>
                      <option value="Animal">Animal</option>
                      <option value="Food">Food</option>
                      <option value="Doll">Doll</option>
                      <option value="Teddy Bear">Teddy Bear</option>
                      <option value="Other">Other</option>
                    </select>
                </div>

                <div class="col-12">
                    <label for="image" class="form-label text-primary">Stuffie Image</label>
                    <input type="file" class="form-control" name="image" accept="image/*" required>
                </div>

                <div class="col-12">
                    <label for="description" class="form-label text-success">Description</label>
                    <textarea name="description" id="description" class="form-control" cols="30" rows="4" required></textarea>
                </div>

                <div class="col-12">
                    <button type="submit" class="btn btn-warning">Share Stuffie</button>
                </div>

                <script src="script.js"></script>            
            </div>
        </form>
    </div>
</div>